body {
  background-color: #3742fa;
  background-image: url(https://flatuicolors.com/static/img/stars-opacity.0979c1.svg);
}
body, html, h1 {
  margin: 0;
  padding: 0;
}
ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
